
<table class="general">
    {{ $count := 0 }}
{{ range .Site.Data.ninebees }}

{{ $sorted := sort . }}
{{ range where $sorted "ascent" 1 }}


    <tr>
        <td>{{ $count = add $count 1 }}{{ $count }}</td>
        <td>{{ .route }}</td>
        <td><span class="desktop">{{ .firstname }} </span>{{ .surname }}</td>
        <td>{{ .crag }}, {{ .country }}</td>
        <td><span class="desktop">{{ .day }}/{{ .month }}/</span>{{ .year }}</td>
    </tr>
        
    {{ end }}
    
    {{ end }}
</table>


