
<ul class="year-nav">
    {{ range .Site.Data.ninebees }}
        {{ range first 1 . }}
        <li><a href="#y-{{ .year }}">{{ .year }}</a></li>
        {{ end }}
        {{ end }}
        <li><a href="#site-title">BACK TO TOP</a></li>
</ul>



<div class="years">
    {{ range .Site.Data.ninebees }}
    
        <section class="year">
            {{ range first 1 . }}
            <div class="year-heading" id="y-{{ .year }}">
                {{ .year }}
            </div>
            {{ end }}
            <table class="nineB-table">
                {{ $count := 0 }}
                {{ range . }}
                    <tr class="{{ .surname | lower }} {{ replace .route " " "-" | lower }}">
                        <td class="count">{{ $count = add $count 1 }}{{ $count }}</td>
                        <td class="date">{{ .day }}/{{ .month }}</td>
                        <td class="route-grade">{{ .route }} ({{ .grade }})</td>
                        <td class="name {{ .surname }}-btn"><span class="desktop">{{ .firstname }} </span>{{ .surname }}</td>
                        <td class="crag {{ replace .crag " " "-" | lower }}">{{ .crag }}</td>
                        <td class="country">{{ .country }}</td>
                        <td class="ascent">{{ cond (eq .ascent 1) "F.A" .ascent }}</td>
                    </tr>
                {{ end }}
            </table>
    
        </section>
    {{ end }}
</div>

