
<script>
let f8c = document.getElementsByClassName('f8c');

function nines() {

f8c.style.display == 'none' ? f8c.style.display = 'table-row'  : f8c.style.display = 'none';

}
</script>

<h2> Britain’s hardest sport climbs</h2>

<p>The routes are listed in chronological order of the the first ascents.</p>

<table class="general ukroutes">
{{ $counter := 0 }}
{{ range .Site.Data.ukRoutes2 }}
{{ $asc := .ascents }}
<tr {{ if or (eq .grade "8c+") (eq .grade "8c/+") }} class="f8c" style="display: table-row;"{{- end -}}>
    <td>{{ $counter = add $counter 1 }}{{ $counter }}</td>
    <td>{{ .route }}</td>
    <td>{{ .grade }}</td>
    <td>{{ .year }}</td>
    <td>{{ .crag }}</td>
    <td><ol>{{ range $asc }} <li>{{ .climber }} <em title="{{ .date }}">({{ substr .date -4 4 }})</em></li>{{ end }}</ol> </td>
</tr>
{{ end }}
</table>
