notes/
READLOCAL.md
assets/
layouts/shortcodes/picture.html
assets/img/
static/fonts/
static/img/dna-1.jpg
.gitignore
.hugo_build.lock
static/apextest.html
.vscode
.vscode/*
.vscode/settings.json
public/
