/* ------------- CONTACT FORM --------- */

form > * {
    display: block;
}
form {
    margin-top: 3em;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 12px;
}
input,
textarea {
    width: 100%;
    max-width: 400px;
    min-height: 2.5em;
    border-radius: 6px;
    background-color: #95adb3;
    appearance: none;
    border:none;
}
input:focus,
textarea:focus {
    background: #bee1e9;
    outline: solid 3px #c3500b;
}
label {
    text-align: right;
}

.button {
    grid-column: 2/3;
}
button {
    appearance: none;
    border: 0;
    border-radius: 6px;
    padding: 6px 20px;
    background-color:#c3500b;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    transition: .4s;
}
button:hover {
    cursor: pointer;
    background-color:#f16f1e;
}
button:active {
    position: relative;
    left: 2px;
    top: 2px;
}