@layer reset {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    
    @media (prefers-reduced-motion: no-preference) {
       html {
            scroll-behavior: smooth;
        }
    }
    h1, h2, h3 {
        text-wrap: balance;
    }
    p, li {
        text-wrap: pretty;
    }
}

:root {
    --display: KoHo, Truculenta, sans-serif;
    --hover: #f95606;
    --headings: #f95606;
    --bg: #2d3e42;
    --bg-light: #bee1e9;
    --table-stripe: #7e7d0c;
    --quotes: #b4b909;
    --body: #ccc;
}


body {
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    /* background-image: linear-gradient(200deg, #0e2c35 10%, #1a5060 90%); */
    /* background-image: linear-gradient(to left bottom, rgb(129 22 3), rgb(4, 126, 210)); */
    background-image: linear-gradient(to left bottom, rgb(23 112 111), rgb(43, 1, 45));
    background-attachment: fixed;
    color: var(--body);
    font-family: KoHo, 'kulim Park', 'segoe ui', sans-serif;
    font-size: clamp(1rem, 0.6667rem + 1.0667vw, 1.4rem);
    font-weight: 400;
}

footer,
header {
    padding: 1em 3px;
    grid-column: 1 / 3;
    grid-column: 2 / 4;
}

#site-title {
    font-family: var(--display);
    font-size: 1em;
    color: var(--headings);
}

header {
    position: relative;
}

footer {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin-top: 4em;
    border-top: solid 1px #fff3;
}


.container {
    max-width: 1350px;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 2px 1fr max-content 2px;
    grid-template-rows: auto 1fr auto;
    column-gap: 1vh;
    margin: auto;
    /* background-color: var(--bg); */
}

#content {
    grid-column: 2 / 3;
    background-color: #1114;
    padding: clamp(0.50rem, calc(0.00rem + 2.00vw), 1.38rem);
    border-radius: 3vmin;
}

.latest {
    grid-column: 3 / 4;
    padding-left: 2vw;
}

.latest ul {
    list-style-type: none;
    padding: 0;
    line-height: 1.7;
    font-family: var(--display);
    font-weight: bold;
}

ul.list-page {
    list-style-type: none;
    padding: 0;
}

ul.list-page li {
    margin-bottom: 1em;
}

ul.list-page a {
    /* display: block; */
    font-size: 1.4rem;
}

.summary {
    font-size: 1.2em;
    margin-bottom: 1.4em;
}

h1,
h2,
h3 {
    font-family: var(--display);
    color: var(--headings);
    /* font-weight: normal; */
}


/* h4 used as headings for graphs */
h4 {
    margin-top: 2em;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0;
}

h2 {
    font-size: 1.75em;
    line-height: 1.1;
    margin-bottom: 0.2em;
}

p,
ul,
ol {
    line-height: 1.4;
}
p,
li {
    max-width: 60ch;
}

h2+p,
h2+ul {
    margin-top: 0;
}

blockquote>p:first-child::before,
blockquote>p:last-child::after {
    line-height: 0.1em;
    font-size: 4em;
    font-family: georgia, 'Times New Roman', serif;
    color: var(--quotes);
    /* color: #fff; */
    vertical-align: -0.4em;
}

blockquote>p:first-child::before {
    content: '“';
}

blockquote>p:last-child::after {
    content: '”';
}

/* Hanging outdent */
blockquote>p:first-child {
    text-indent: -1.6em;
}

figure {
    margin: 0;
}

figure img,
img {
    max-width: 100%;
    border-radius: 15px;
}

figure h4 {
    font-weight: normal;
    font-style: italic;
    font-size: 80%;
    margin-top: 0;
}

time {
    font-size: max(14px, 0.8em);
}

td,
th {
    font-size: clamp(14px, 1.7vw, 21px);

}

td ul,
td ol {
    margin: 0 0 .5em 0;
    padding-left: 1ch;

}

table.general {
    border-collapse: collapse;
    font-family: 'segoe ui';
    width: 100%;
    margin: 2em 0;
}

.general tr:nth-of-type(odd) {
    background-color: var(--table-stripe);
}

.general td,
.general th {
    padding: 1vh 10px;
    vertical-align: top;
}

/* -- For iconmnstr footer icons -- */
.social a+a {
    margin-left: 1em;
}

.social a {
    display: inline-block;
    fill: var(--body);
}

.social a:hover {
    fill: var(--hover);
}


/* --- The issue with the 9bs is that it is a series of tables which need the same alignment of cells --- */



.year-nav {
    margin: 2em auto;
    list-style-type: none;
    padding: 0.25rem;
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.25em;
    background-color: #222;
    border-radius: 0.5rem;
}
.year-nav li:last-child {
    margin-left: auto;
}
.year-nav a, 
.year-nav a:link {
    color: #ccc;
    background-color: #111a;
    border-radius: 6px;
    padding: 0.25em 0.75em;
    font-size: 0.8em;
    /* transition: all 0.5s; */
}
.year-nav :is(a:hover, a:active, a:focus) {
    background-color: var(--headings);
    color: #fff;
}

table.nine-bees tr {
    display: grid;
    grid-template-columns: 1em 4em 15em 10em 10em 12ch 4ch;
}




.year-heading {
    color: var(--headings);
    font-weight: bold;
    margin: 1rem auto .25rem 3px;
}
.year-heading:target {
    padding-top: 5rem;
}
/* -------- FOOTNOTES --------- */

.footnotes hr {
    display: none;
}
.footnotes {
    margin-top: 4em;
    border-top: 1px solid currentColor;
}
.footnotes ol::before {
    content: 'Notes';
    display: block;
    margin-left: -1em;
    font-weight: bold;
    color: var(--headings);
    font-size: 1.5em;
}


/* ------------ YOUTUBE embed shortcode ---------- */

iframe.yt {
    width: 650px;
    max-width: calc(100% - 1em);
    aspect-ratio: 16 / 9;
    margin: 1em 0;
    border-radius: 8px;
}

/* --------- GRAPHS ----------- */

.graph {
    background-color: #1112;
    margin: 0;
    max-width: 100%;
}


/* ------- NAVIGATION --------- */

header ul {
    padding: 0;
    list-style-type: none;
    margin: 2em 0 0 0;
    display: flex;
    gap: 45px;
    font-weight: bold;
    text-transform: uppercase;

}

header ul a {
    display: block;
}

a,
a:link,
a:visited {
    text-decoration: none;
    color: #fff;
    transition: .4s;
}

a:hover {
    color: var(--hover);
}

.mobile {
    display: none;
}

/* -------- MOBILE NAV ------------ */

.mobilenav {
    height: 100%;
    width: 100vw;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: -100vw;
    display: grid;
    place-items: center;
    z-index: 1;
    background-color: #111111cc;
    backdrop-filter: blur(5px);
    transition: 0.5s;
}
.slide-in {
    translate: 100vw;
}


.close-btn {
    cursor: pointer;
}

.mobilenav ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0 1em 0;
    display: flex;
    flex-direction: column;
    gap: 4vh;
    justify-content: center;
    align-items: center;
    font-size: calc(.8rem + 3vh + 1.5vw);
}

.mobilenav a {
    display: block;
}

.mobilenav footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.mobilenav footer .social {
    display: flex;
}

.icon {
    position: absolute;
    top: 1em;
    right: 1em;
    display: none;
    z-index: 200;
}

.hamburger {
    display: grid;
    gap: calc(0.5vw + 0.6vh);
    z-index: 200;
    cursor: pointer;
}

.hamburger div {
    height: calc(.1vw + .5vh);
    width: calc(.7rem + 2vw + 2vh);
    background-color: var(--headings);
    border-radius: 10px;
}

.bar1,
.bar2,
.bar3 {
    transition: .4s;
}

.change .bar1 {
    transform: rotate(45deg);
    transform-origin: top left 0;
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(-45deg);
    transform-origin: bottom left 0;
}


/* ------- PAGE SPECIFIC -------- */

/* --------- HOME PAGE Front page -------- */

.front-page-posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
    gap: 0.5em;
}

.front-page-article {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    border: solid 1px #fff3;
    border-radius: 20px;
    background-color: #0003;
    padding: 1em;
    font-size: .8em;
    }

    .front-page-article h2:first-child {
        position: relative;
        font-size: 1.5em;
        margin-bottom: .5em;
        margin-top: .5em;
        /* border-bottom: 5px solid var(--headings); */
}

/* .draft h2::after {
    content: 'DRAFT';
    position: absolute;
    bottom: -10%;
    left: 10%;
    color: #1113;
    font-size: 2em;
    font-weight: bold;
} */

.more-articles {
    margin-top: 4em;
}

/* ---- article page ---- */

.page-date {
    display: flex;
    justify-content: space-between;
    grid-template: 3em;
}

/* ----- Tags page ------ */

body.taxonomy .list-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}
body.taxonomy .list-page li,
.tag {
    font-size: 0.8em;
    border: solid 1px currentColor;
    padding: 0.125em .5em;
    border-radius: 10px;
    text-align: center;
}


/* ---------- First 9b+ climbers ------- */

.nine-b-plus-grid-2 {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1.5em 350px auto minmax(250px, 1fr);
    gap: 1em;
}

.nine-b-plus-grid-2 h2 {
    grid-column: 1 / 2;
    writing-mode: vertical-lr;
    text-align: right;
    line-height: .5;
    transform: rotate(180deg);
    /* background-color: var(--headings); */
    margin: 0;
}

.nine-b-plus-grid-2 p img {
    max-width: 100%;
    border-radius: 15px;
    /* outline: fuchsia 5px solid; */
}

.nine-b-plus-grid-2 .routes {
    font-weight: bold;
}

.nine-b-plus-grid-2 h3 {
    margin: 0 0 .5em 0;
}

.nine-b-plus-grid-2 .notes p:first-child {
    margin-top: 0;
}

.nine-b-plus-grid-2 img[alt="Laura Rogora"] {
    filter: saturate(0);
}


/* -------------- LA CAPELLA ============ */

.side-box {
    width: 250px;
    float: right;
    margin-left: 1em;
    background-color: #0003;
    border-radius: 10px;
    padding: 0.5em;
    font-size: 0.8em
}

.side-box h3 {
    margin: 0;
}

.side-box:nth-of-type(3) {
    background-image: url(/img/jakob-schubert-2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.side-box:last-of-type h3 {
    margin-top: 270px;
}


/* ------------- CONTACT FORM --------- */

form > * {
    display: block;
}
form {
    margin-top: 3em;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 12px;
}
input,
textarea {
    width: 100%;
    max-width: 400px;
    min-height: 2.5em;
    border-radius: 6px;
    background-color: #95adb3;
    appearance: none;
    border:none;
}
input:focus,
textarea:focus {
    background: #bee1e9;
    outline: solid 3px #c3500b;
}
label {
    text-align: right;
}

.button {
    grid-column: 2/3;
}
button {
    appearance: none;
    border: 0;
    border-radius: 6px;
    padding: 6px 20px;
    background-color:#c3500b;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    transition: .4s;
}
button:hover {
    cursor: pointer;
    background-color:#f16f1e;
}
button:active {
    position: relative;
    left: 2px;
    top: 2px;
}

/* --------- MEDIA QUERIES ---------- */

@media screen and (max-width: 1250px) {
    .latest {
        display: none;
    }

    header,
    footer {
        grid-column: 2 / -2;
        /* padding-left: 12px; */
        /* padding-right: 12px; */
    }

    #content {
        grid-column: 2 / -2;
    }

    header ul {
        display: none;
    }

    .icon {
        display: block;
    }

    .nine-b-plus-grid-2 {
        grid-template-columns: minmax(30%, 350px) 1fr;
        row-gap: 0;
    }

    .nine-b-plus-grid-2 h2 {
        grid-column: 1 / -1;
        transform: revert;
        writing-mode: revert;
        text-align-last: left;
        line-height: 1.4;
        margin-bottom: .5em;
    }

    .nine-b-plus-grid-2 .routes {
        grid-column: 2 / -1;
    }

    .nine-b-plus-grid-2 .notes {
        grid-column: 1 / -1;
    }
}



@media screen and (max-width: 700px) {
    header>ul {
        gap: 15px;
    }

    .mobile {
        display: inline;
    }

    .desktop,
    table.nineties td:first-of-type,
    /* table.nineties td:nth-of-type(2), */
    table.nineties td:nth-of-type(4),
    table.uk-routes td:first-of-type,
    table.uk-routes td:nth-of-type(4),
    table.nine-bees td:nth-of-type(2),
    table.nine-bees td:nth-of-type(5),
    table.nine-bees td:first-of-type,

    table.nineb2020 td:first-of-type,
    table.nineb2020 td:nth-of-type(6),

    td.country,
    .nineb-table td.count {
        display: none;
    }

    .nineb-table tr {
        grid-template-columns: 5ch 27% 21% auto 3ch;
    }


    header ul {
        justify-content: space-between;
        font-size: 1em;
    }

    #content {
        margin: 1em 0;
    }

    table.nine-bees {
        width: 100%;
    }

    table.nine-bees tr {
        display: grid;
        grid-template-columns: minmax(8em, 1fr) 6em 6em 3em;
    }

    .firstname {
        display: none;
    }
}