/* -------------- LA CAPELLA ============ */

.side-box {
    width: 250px;
    float: right;
    margin-left: 1em;
    background-color: #0003;
    border-radius: 10px;
    padding: 0.5em;
    font-size: 0.8em
}

.side-box h3 {
    margin: 0;
}

.side-box:nth-of-type(3) {
    background-image: url(/img/jakob-schubert-2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
