{{ define "main" }}


    {{ if eq .Kind "Taxonomy" }}

    <h1>Tags</h1>
        <ul class="list-page tags">
            {{ range .RegularPages.ByName }}
            <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
            {{ end }}
        </ul>  
    {{ else }}
        <ul class="list-page">
        {{ range .Pages.ByDate.Reverse }}
        <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>{{ with .Summary }} - {{ . | truncate 110 }}{{ end }}</li>
        {{ end }}
        </ul>  
    {{ end }}

{{ end }}