.years {
    display: flex;
    flex-direction: column-reverse;
}

.nineB-table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    display: grid;
    grid-template-columns: 2em 4em 4fr 15em auto 7em 3em;
    grid-template-columns: 3% 6% 27% 21% auto 17% 3ch;
}

/* @link https://utopia.fyi/type/calculator?c=400,14,1.2,1100,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

.nineB-table td {
    font-size: clamp(0.88rem, calc(0.73rem + 0.57vw), 1.13rem);
    padding: 0.35em 0.5em;
}

.nineB-table tr:nth-child(odd) {
    background-color: var(--tablestripe);
}

.nineB-table tr:nth-child(2n+1) {
    background-color: #6f6e00;
    color: #eee;
}