{{ define "main" }}
    <h1>{{ .Title }}</h1>

    <div class="page-date">
        <time>Last site update: <em>{{ now.Format "2 January 2006" }}</em></time>
    </div>

    {{ with .Content }}
    {{ . }}
    {{ end }}

    <section class="front-page-posts">
        {{ $blog := .Site.GetPage "/articles" }}
        {{ range first 6 .Paginator.Pages.ByDate.Reverse }}
        {{ .Render "summary" }}
        {{ end }}
        </section>

    <div class="more-articles"><a href="/articles">See more articles&hellip;</a></div>

{{ end }}