<div class="nine-b-plus-grid-2">

    <h2 id="adam-ondra">Adam Ondra</h2>
    <p><img src="/img/adam-ondra-1.jpg" alt="Adam Ondra"></p>

    <div class="routes">

        Change (2012)<br>
        La Dura Dura (2013)<br>
        Vasil Vasil (2013)<br>
        Silence (2017)
    </div>

    <div class="notes">
        <p>Climbed the world&rsquo;s first 9b+ almost a decade ago, <em>Change</em>, which has only seen one repeat so far, by Stefano Ghisolfi who climbed it in 2020. The following year he climbed two more first ascents with <em>La Dura Dura</em> and the short <em>Vasil Vasil</em> near his home in Czech Republic. In 2017 he climbed the first 9c in the world <em>Silence</em> at the Flatanger cave in Norway, making him the only climber to have climbed this grade.</p>
    </div>


    <h2 id="chris-sharma">Chris Sharma</h2>
    <p><img src="/img/chris-sharma-2.jpg" alt="Chris Sharma"></p>

    <div class="routes">La Dura Dura (2013)</div>

    <div class="notes">
        <p>Made the only repeat so far of the world&rsquo;s second 9b+ a few weeks after the Ondra's first ascent. This was a project he bolted himself and the highpoint of an amazing career at the top spanning over a decade. The crux involves a huge span which is undoubtedly a deterent for smaller climbers.</p>
    </div>


    <h2 id="alex-megos">Alex Megos</h2>
    <p><img src="/img/alex-megos-1.jpg" alt="Alex Megos"></p>

    <div class="routes">
        Perfecto Mundo (2018)<br>
        Bibliography (2020)
    </div>


    <div class="notes">
        <p>Alex Megos won the race to get the first ascent of this spectacularly steep old Sharma project, <em>Perfecto Mundo</em>, at Margalef and thus became the third in the world to climb that grade and the second to make the first ascent at this level.</p>
    </div>


    <h2 id="stefano-ghisolfi">Stefano Ghisolfi</h2>
    <p><img src="/img/stefano-ghisolfi-1.jpg" alt="Stefano Ghisolfi"></p>

    <div class="routes">
        Perfecto Mundo (2018)<br>
        Change (2020)<br>
        Bibliography (2021)
    </div>

    <div class="notes">
        <p>Beaten to the first ascent of <em>Perfecto Mundo</em> Stefano Ghisolfi became the fourth person in the world to climb the 9b+ grade when he made the first repeat <em>Perfecto Mundo</em> just 2 months after the first ascent. He has since climbed 2 more 9b+'s including the first repeat of <em>Bibliography</em>, given 9c at the time. Additionally made the first ascent of Erebor earlier in the year. This is Italy&rsquo;s hardest route, and he used a slash grade of 9b/+ suggesting he is unsure of the grade. As well as climbing extremely hard rock routes Stefano also managed to win the overall title for the lead World Cup in 2021 too.</p>
    </div>


    <h2 id="jakob-schubert">Jakob Schubert</h2>
    <p><img src="/img/jakob-schubert-1.jpg" alt="Jakob Schubert"></p>

    <div class="routes">Perfecto Mundo (2019)</div>

    <div class="notes">
        <p>The super talented Austrian almost made a super fast ascent of <em>Perfecto Mundo</em>, linking the crux from the ground in record time. Unfortunately a lack of endurance at the time prevented meant the final redpoint took a bit longer. His focus in 2021 was the Olympics and he came first in the lead competition taking a bronze medal overall.</p>
    </div>


    <h2 id="will-bosi">Will Bosi</h2>
    <p><img src="/img/will-bosi-1.jpg" alt="Will Bosi"></p>

    <div class="routes">King Capella (2021)</div>

    <div class="notes">
        <p>The strong Scottish climber made the first ascent this old unclimbed project in Siurana over 10 days. Given that he climbed Ondra&rsquo;s 9b La Capella in the same sector in only 3 days the previous year he reasoned this had to be a grade harder.</p>
    </div>


    <h2 id="sean-bailey">Sean Bailey</h2>
    <p><img src="/img/sean-bailey-1.jpg" alt="Sean Bailey"></p>

    <div class="routes">Bibliography (2021)</div>

    <div class="notes">
        <p>After winning World Cups in both lead and boulder and taking second place overall in lead, US climber Sean Bailey made the third ascent of this king line in Ceuse. Sean is the only climber to jump straight in to this grade without first having climbed a 9b. In fact he'd only climbed one 9a and two 9a+'s before climbing <em>Bibliography</em>.</p>
    </div>

    <h2 id="seb-bouin">Seb Bouin</h2>
    <p><img src="/img/seb-bouin-1.jpg" alt="Seb Bouin"></p>

    <div class="routes">
        <h3>9b/+ routes:</h3>
        Move (2019)<br>
        Rage d&rsquo;Adam (2019)<br>
        Beyond Integral (2020)
    </div>

    <div class="notes">
        <p>French climber Seb Bouin made a quick second ascent of Adam Ondra&rsquo;s <em>Mamichula</em> link up in 2019, considered a hard 9b by Ondra. Since then he has climbed 4 more routes around this level, 3 of which get the 9b/+ grade. Two of these were his own routes, still awaiting repeats, but as he&rsquo;s conscientous with his grades and at least one of these may end up being viewed as full 9b+ at some point in the future. He has also been working on <em>Bibliography</em> this year as well as his own, very hard, DNA project.</p>
    </div>


    <h2 id="laura-rogora">Laura Rogora</h2>
    <p><img src="/img/laura-rogora-1.jpg" alt="Laura Rogora"></p>

    <div class="routes">
        <h3>9b/+ route</h3>
        Erebor (2021)
    </div>

    <div class="notes">
        <p>After climbing more grade 9 routes than any other female Italian climber Laura Rogora made the second ascent of Stefano Ghisolfi&rsquo;s Erebor, Italy&rsquo;s hardest route. This is probably the hardest ascent by a woman. It took her only 6 days to complete after managing all the moves on her first day. Ghisolfi has suggested she try <em>Bibliography</em> because he felt it was not that much harder.</p>
    </div>

</div>