
    <form name="grade-apocalypse" method="POST" data-netlify="true">
            <label>Your Name:</label>
            <input type="text" name="name" required />
            <label>Your Email:</label>
             <input type="email" name="email" required />
            <label>Message:</label>
             <textarea name="message" rows="9"></textarea>

            <div class="button">
                <button type="submit">
                    Send
                </button>
            </div>
    </form>
